<h1>Add League<h1>
<%= form_with(model: @manager, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>
  
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit

</button>


<% end %>